<!doctype html>
<html>
  <head>
    <title>Candy Grabber Layout</title>
    <meta name="viewport" content="width=device-width" "height=device-height">
    <link rel="stylesheet" type="text/css" href="layout_test.css">
  </head>
  
  <body>
    
    <div class="container-left">
      <div class="container-inner">
        <div class="arrow-up"><img src="arrow_up.png" alt="UP" width="56" height="70" id="up"/></div>
        <div class="arrow-down"><img src="arrow_down.png" alt="DOWN" width="56" height="70" id="down"/></div>
        <div class="arrow-left"><img src="arrow_left.png" alt="LEFT" width="70" height="56" id="left"/></div>
        <div class="arrow-right"><img src="arrow_right.png" alt="RIGHT" width="70" height="56" id="right"/></div>
      </div>
    </div>
    
    <div class="container-right">
      <div class="container-inner">
        <div class="grab-up"></div>
        <div class="grab-down"></div>
    </div>
    <div>
    <script src="layout_test.js"></script>
  </body>
</html>