<!doctype html>
<html lang="en">
  
  <head>
    <title>nRF Candy Grabber</title>
    <meta name="viewport" content="width=device-width" "height=device-height initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" type="text/css" href="layout_flex_test.css">
    <link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
    <link rel="manifest" href="../manifest.json">
    
    <script src="../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="../bower_components/platinum-bluetooth/platinum-bluetooth-device.html">
    <link rel="import" href="../bower_components/platinum-bluetooth/platinum-bluetooth-characteristic.html">
  </head>
  
  <body>
    <platinum-bluetooth-device services-filter='["b6c31337-6c07-453e-961a-d8a8a41bf368"]'> 
      <platinum-bluetooth-characteristic
          service="b6c31337-6c07-453e-961a-d8a8a41bf368"
          characteristic="b6c31338-6c07-453e-961a-d8a8a41bf368">
      </platinum-bluetooth-characteristic>
   </platinum-bluetooth-device>
    <div id="device-dimension">
      <div id="container-outer-title">
        <div id="title">
          Candy Grabber
        </div>
      </div>
      <div id="container-outer-controller">
          <div id="container-controller">
            <img src="images/gamepad-blank.png" alt="Gamepad" width="511" height="282"/>
            <img src="images/gamepad-blue.png" alt="Gamepad" width="46" height="46" id="gamepad-blue"/>
            <img src="images/gamepad-orange.png" alt="Gamepad" width="46" height="46" id="gamepad-orange"/>
            <img src="images/gamepad-green.png" alt="Gamepad" width="46" height="46" id="gamepad-green"/>
            <img src="images/gamepad-red.png" alt="Gamepad" width="46" height="46" id="gamepad-red"/>
            <img src="images/gamepad-up.png" alt="Gamepad" id="gamepad-up"/>
            <img src="images/gamepad-down.png" alt="Gamepad" id="gamepad-down"/>
            <img src="images/gamepad-left.png" alt="Gamepad" id="gamepad-left"/>
            <img src="images/gamepad-right.png" alt="Gamepad" id="gamepad-right"/>
          </div>
      </div>
      <div id="container-outer-logo">
        <div id="nordic-logo">

          <img src="images/wireless-by-nordic.jpg" alt="Wireless by Nordic" width="20%" height="20%"/>

        </div>
      </div>
    </div>
    <script src="layout_flex.js"></script>
  </body>
  
</html>