<!doctype html>
<html lang="en">
  <head>
    <title>nRF Candy Grabber</title>
    <meta name="viewport" content="width=device-width" "height=device-height">
    <link rel="stylesheet" type="text/css" href="layout_flex_test.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
  </head>
  
  <body>
    <div id="device-dimension">
      <div id="container-outer">
        <div id="title">
          Candy Grabber
        </div>
      </div>
      <div id="container-outer">
          <div id="container-controller">
            <img src="gamepad-blank.png" alt="Gamepad" width="511" height="282"/>
            <img src="gamepad-blue.png" alt="Gamepad" width="46" height="46" id="gamepad-blue"/>
            <img src="gamepad-orange.png" alt="Gamepad" width="46" height="46" id="gamepad-orange"/>
            <img src="gamepad-green.png" alt="Gamepad" width="46" height="46" id="gamepad-green"/>
            <img src="gamepad-red.png" alt="Gamepad" width="46" height="46" id="gamepad-red"/>
            <img src="gamepad-up.png" alt="Gamepad" id="gamepad-up"/>
            <img src="gamepad-down.png" alt="Gamepad" id="gamepad-down"/>
            <img src="gamepad-left.png" alt="Gamepad" id="gamepad-left"/>
            <img src="gamepad-right.png" alt="Gamepad" id="gamepad-right"/>
          </div>
      </div>
      <div id="container-outer">
        <div id="nordic-logo">

          <img src="wireless-by-nordic.jpg" alt="Wireless by Nordic" width="20%" height="20%"/>

        </div>
      </div>
    </div>
    <script src="layout_flex.js"></script>
  </body>
</html>