.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.text-1-25x{font-size: 1.25em;}
.text-2x{font-size: 2em;}
.text-3x{font-size: 3em;}
.text-4x{font-size: 4em;}
.text-5x{font-size: 5em;}

body{
  background-color: #eee;
}

.page-header {
    padding-top: 0px;
}

.panel-default>.panel-heading {
    color: #0080b7;
    background-color: #fff;
    border-color: #eee;
    padding: 40px 15px 20px 15px;
}

.panel-default>.panel-heading-small {
    color: #0080b7;
    background-color: #fff;
    border-color: #eee;
    padding: 20px 15px 20px 15px;
}


.panel-body {
    color: #0080b7;
    background-color: #fff;
    border-color: #0080b7;
}

.panel-body-small {
    color: #0080b7;
    background-color: #fff;
    border-color: #0080b7;
}

.panel-footer {
    background-color: #fff;
    border-color: #eee;
}

.panel-footer-small {
    background-color: #fff;
    border-color: #eee;
    color: #fff;
    height: 40px;
}

.navbar {
    border-radius: 0px; */
}

.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}

.btn-panel-nordic {
    color: #fff;
    background-color: #6dcff6;
    border-color: #eee;
}

.panel-icon-color {
  color: #6dcff6;
}

.btn {
  border-radius: 0px;
}
    

.black {
  color: #000;
}

.primary-blue {
  color: #009cde;
}

.secondary-orange {
  color: #f26721;
}

.secondary-light-blue {
  color: #6dcff6;
}

.secondary-dark-blue {
  color: #0080b7;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin-bottom: 10px;
}

