.panel-info>.panel-heading {
  color: #ffffff;
  background-color: #009ada;
  border-color: #009ada;
  background-image: linear-gradient(to bottom,#009ada 0,#009ada 100%);
}

.table-responsive {
    border: 0px solid #000;
}

caption {
    padding-left: 8px;
    color: #777;
    text-align: left;
    font-size: 18px;
}

.btn-info {
    background-image: -webkit-linear-gradient(top,#009ada 0,#009ada 100%);
    background-image: -o-linear-gradient(top,#009ada 0,#009ada 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#009ada),to(#009ada));
    background-image: linear-gradient(to bottom,#009ada 0,#009ada 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009ada', endColorstr='#009ada', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
        background-color: #009ada;
    border-color: #009ada;
}